.l-about {
	background: $about_right;
	display: flex;
	flex-direction: row;
	position: relative;

	@include desktop(){
		flex-direction: column;
		align-items: center;
	}
}

.l-about__col {
	padding-bottom: 40px;
	flex: 1;

	@include tablet(){

	}

	&_left {
		background: $about_left;

		@include desktop(){
			background: #ebefe2;
			width: 100%;
			text-align: center;
		}

		& .c-about__triangle {
			left: 0;
			fill: $about_left;
		}

		&-wrap {
			float: right;
			margin-right: 78px;
			width: 443px;

			margin-top: -42px;

			@include desktop(){
				margin-right: 0;
				width: 474px;
				float: none;
				display: inline-block;
			}
			@include tablet() {
				width: 90%;
			}
		}
	}

	&_right {
		background: $about_right;

		& .c-about__triangle {
			right: 0;
			fill: $about_right;

			@include desktop(){
				fill: #ebefe2;
			}
		}

		&-wrap {
			margin-left: 38px;

			@include desktop(){
				margin-left: 0;
				padding-top: 50px;
			}
			@include tablet() {
				margin-right: 0;
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}

.c-about__triangle {
	display: block;
	width: 50%;
	height: 110px;
	position: absolute;
	bottom: 100%;
}


.c-about__pic {
	margin-bottom: 20px;

	@include desktop(){
		width: 100%;
		height: auto;
	}
}

.c-about {
	& .c-block-title__wrap {
		@include desktop(){
			margin-bottom: 10px;
		}
	}
}

.l-about__col_left-wrap {
	& .c-section-title {
		@include desktop(){
			margin-bottom: 40px;
			margin-top: 40px;
		}
	}
}


.c-arrow {
	@include centered(x);
	bottom: 70px;
	z-index: 10;

	&__icon {
		width: 26px;
		height: 16px;
		fill: #c8d9d1;
		transition: all .3s;

		&:hover {
			fill: darken(#c8d9d1, 30%);
		}
	}
}