.c-welcome {
	width: 379px;
	@include centered();
	background: rgba(#122620, .6);
	border-radius: 6px;
	padding-top: 40px;
	text-align: center;
	overflow: hidden;

	&__container {
		padding-bottom: 30px;
	}

	&__group {
		padding-left: 20px;
		padding-right: 20px;

		&-btn {
			padding: 0;
			display: table;
			width: 100%;

			& .c-btn-form {
				&:hover {
					background: #477c38;
				}
			}
		}

		&-btnRow {
			display: table-cell;
			vertical-align: top;
			position: relative;

			&:not(:first-child){

				&:before {
					position: absolute;
					top: 0;
					left: -1px;
					content: "";
					display: inline-block;
					width: 2px;
					height: 100%;
					background: rgba(#dee3e7, .5);
				}
			}
		}
	}
}

.c-feedback__group-link {
	width: 110px;
}

.c-welcome-footer {
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
	@include roboto();
	color: #ffffff;
}

.c-welcome-autr {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 30px;
	color: #ffffff;
	border: 1px solid #fff;
	@include roboto();
	text-decoration: none;
}