.l-hero {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: url(../img/water.jpg) no-repeat center;
  background-size: cover;
}

.l-hero__bg {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include centered(x);
}
.hero__bg-img {
  width: 100%;
  height: auto;
}

.l-hero__container {
  @include centered(y);
  width: 100%;
}

.c-hero__title-pic {
  @include centered();
  max-width: 100%;
  height: auto;

  @include desktop(){
    max-width: 90%;
  }
}
