.l-comments {

	&__title {
		text-align: center;
		margin-top: 80px;

		@include iphone() {
			margin-top: 10px;
		}
	}
	text-align: center;
	position: relative;

	&:before {
		position: absolute;
		top: 80px;
		left: 37px;
		content: "";
		width: 100px;
		height: 100px;
		display: inline-block;
		background: url(../img/list2.png) no-repeat 0 0;

		@include iphone() {
			display: none;
		}
	}
}

.c-comments {
	display: flex;
	flex-direction: row;
	justify-content: center;

	@include tablet() {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
	}

	&__item {
		width: 377px;

		&:not(:first-child) {
			margin-left: 20px;
		}

		background: url(../img/kv.png) no-repeat 0 83px;

		@include desktop() {

		}
		@include tablet() {
			width: 100%;
			margin: 0;

			&:not(:first-child) {
				margin-top: 30px;
				margin-left: 0;
			}
		}

		&-pic {
			text-align: center;
			margin-bottom: 15px;
		}

		&picImg {
			vertical-align: middle;
		}

		&-text {
			margin-bottom: 30px;
			text-align: left;
			@include roboto(i);

			@include tablet() {
				line-height: 26px;
			}
		}

		&-name {
			color: #4e8839;
			@include roboto(bi);
			margin-bottom: 5px;

			@include tablet() {
				font-size: 18px;
			}
		}

		&-post {
			color: #373e42;
			margin-left: 10px;
			display: inline-block;
			@include roboto(i);

			@include tablet() {
				font-size: 18px;
			}
			@include iphone() {
				margin-left: 0;
			}

			&:before {
				position: relative;
				top: 2px;
				content: "—";
				display: inline-block;
				color: #adafad;
				margin-right: 8px;
				font-weight: bold;
			}
		}
	}
}