$work: #f8f9f5;

.l-work {
	@extend %clearfix;
	background: $work;

	&__col {
		position: relative;

		float: left;
		padding-bottom: 40px;
		width: 50%;

		&_left {
			background: $work;

			& .c-work__triangle {
				left: 0;
				fill: $work;
			}
		}

		&_right {
			background: $work;

			& .c-work__triangle {
				right: 0;
				fill: $work;
			}
		}
	}

	&__row {

		&_title {
			text-align: center;

			& .c-section-title {
				margin-top: -30px;
				margin-bottom: 30px;
			}
		}
	}
}

.c-work__triangle {
	display: block;
	width: 100%;
	height: 110px;
	position: absolute;
	bottom: 100%;
}

.l-work-jobs {
	display: flex;
	flex-flow: wrap row;
	position: relative;

	@include tablet(){
		flex-flow: wrap column;
	}
}
.l-work-jobs__col {
	flex: 1 1 45%;
}

.l-work-jobs__col:nth-child(1) {

	@include tablet(){
		order: 2;
	}
}
.l-work-jobs__col:nth-child(3) {

	visibility: hidden;
	@include tablet(){
		display: none;
	}
}
.l-work-jobs__col:nth-child(2) {
	background: #e1e4d7;
	@include tablet(){
		order: 1;
	}
}
.l-work-jobs__col:nth-child(4) {
	background: #e1e4d7;
	@include tablet(){
		order: 3;
	}
}

.c-works-img__wrapPic {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 40px;
	@include tablet(){
		padding-top: 50px;
		padding-bottom: 80px;
	}
	@include iphone(){
		padding-bottom: 50px;
	}
}
.c-works-img__pic {
	vertical-align: middle;
	max-width: 100%;
	height: auto;

	@include desktop(){
		max-width: 90%;
	}
}
.c-works-img__items {
	display: flex;

	@include tablet(){

	}
}
.c-works-img__item {
	width: 100%;
	height: auto;
}

.c-works-img__item {
	position: relative;

	&-wrapPic {
		width: 100%;
		height: auto;
		&:after {
			display: block;
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(#b0b7aa, .7);
		}
	}

	&-pic {
		vertical-align: middle;
		width: 100%;
		height: auto;
	}

	&-wrapIcon {
		@include centered();
	}

	&-icon {
		fill: #fff;
		width: 43px;
		height: 27px;
	}
}

.l-work-jobs-elem {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 50%;
	background: #ebefe2;

	@include tablet(){
		position: inherit;
		text-align: center;
	}
}
.l-work-jobs-elem__block {
	width: 320px;
	text-align: center;
	@include centered();

	@include tablet(){
		display: inline-block;
		position: inherit;
		transform: translate(0, 0);
		padding-top: 45px;
		padding-bottom: 60px;
	}
}
.l-work-jobs__tags {
	color: #4e8839;
	@include roboto(m);
	margin-bottom: 55px;

	@include iphone(){
		margin-bottom: 30px;
	}
}