.c-skills-group__title {
	color: #566358;
	font-size: 28px;
	@include roboto(m);

	@include desktop() {
		text-align: center;
	}
}

.c-skills-group {

}

$margin_skill: 30px;

.l-skills-list {
	margin-top: 20px;
	margin-bottom: 30px;
	display: flex;
	flex-flow: wrap row;

	margin-left: -$margin_skill;

	@include desktop() {
		justify-content: center;
	}
	@include tablet() {
		//margin-left: -10px;
		margin-top: -10px;
	}

	&__item {
		margin-left: $margin_skill;
		@include tablet(){
			margin-top: 30px;
			//margin-left: 10px;
		}
	}
}

.c-skill {
	position: relative;
}

.c-skill__title {
	position: absolute;
	@include centered();
	width: 70px;
	@include roboto(m);
	font-size: 13px;
	color: $icon-hover;
	text-align: center;
}

.c-skills__circle {
	width: 82pt;
	height: 82pt;
	display: block;
	fill: transparent;
	stroke-width: 15;
}
.l-skills__text, .l-skills .c-block-title__wrap {
	@include desktop(){
		width: 474px;
		text-align: center;
	}
	@include tablet(){
		width: 80%;
	}
}
.l-skills__text {
	@include desktop(){
		min-width: 100%;
	}
}


.c-skills__circle-under {
	stroke: $circle-under;
}

.c-skills__circle-above {
	stroke: $circle-under;
	//stroke-dasharray: 200;
}

.sector {
	transition: all 1s;
}