// @extend .class;
// font-family: 'Roboto', sans-serif;
// font-weight: 300i, 400, 500
// font-family: 'webissimo', sans-serif;

//adjustment
$footer-height: 185px;

//color
$about_left: #ebefe2;
$about_right: #f4f5f0;
$circle-under: #dfdcd5;
$circle-above: #74a163;
$icon-hover: #4e8839;

@import "helpers/mixins";

//adjustment
@import "layout/fonts";
@import "layout/adjustment";

//sprites
@import "sprite/sprite";

//style
@import 'blocks/**/*.scss';
