@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,700i&subset=cyrillic');
@import url(http://fonts.googleapis.com/css?family=Vollkorn|Roboto);

@font-face {
	font-family: 'webissimo';
	src: url('../fonts/Sansus-Webissimo-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'forest';
	src: url('../fonts/forest.eot?44423879');
	src: url('../fonts/forest.eot?44423879#iefix') format('embedded-opentype'),
	url('../fonts/forest.woff2?44423879') format('woff2'),
	url('../fonts/forest.woff?44423879') format('woff'),
	url('../fonts/forest.ttf?44423879') format('truetype'),
	url('../fonts/forest.svg?44423879#forest') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin forest {
	font-family: 'forest';
}
@mixin webissimo {
	font-family: 'webissimo';
}

@mixin roboto ($size: n) {
	font-family: 'Roboto', sans-serif;

	@if($size == n) {
		font-weight: normal;
	}

	@if($size == i) {
		font-style: italic;
	}

	@if($size == l) {
		font-weight: 300;
	}

	@if($size == li) {
		font-weight: 300;
		font-style: italic;
	}

	@if($size == m) {
		font-weight: 500;
	}

	@if($size == b) {
		font-weight: 700;
	}

	@if($size == bi) {
		font-weight: 700;
		font-style: italic;
	}
}