@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,500&subset=cyrillic');

@font-face {
	font-family: 'webissimo';
	src: url('../fonts/Sansus-Webissimo-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}