extends ../_admin


block variables
	- var title = 'Admin'

block content
	.admin-check
		.admin-check__msg Сообщение отправлено
		.admin-form__control
			input.admin-form__control-btn(value="Закрыть" type="button")
	.admin-tabs
		.admin-tab.active
			h1.admin__title Страница «Обо мне»
			form(action="" method="post")
				.admin-skill
					.admin-skill__sections
						each section in skills
							.admin-skill__wrap
								h2.admin-skill__title=section.title
								ul.admin-skill__items
									each item in section.items
										li.admin-skill__item
											.admin-skill__item-row
												.admin-skill__item-title=item.name
											.admin-skill__item-row
												input.admin-skill__item-input(type="text" name="skills[]" value=`${item.procent}`)
												| %
				.admin-form__control
					input.admin-form__control-btn(value="Добавить" type="submit")
		.admin-tab
			h1.admin__title Страница «Блог»
			form(action="" method="post")
				.admin-form
					label.admin-form__row
						input.admin-form__input(type="text" name="blog_name" placeholder="Название")
					label.admin-form__row
						input.admin-form__input(type="text" name="blog_data" placeholder="Дата")
					label.admin-form__row
						textarea.admin-form__textarea(name="blog_text" placeholder="Содержание")
				.admin-form__control
					input.admin-form__control-btn(value="Добавить" type="submit")
		.admin-tab
			h1.admin__title Страница «Мои работы»
			form(action="" method="post" enctype="multipart/form-data")
				.admin-form
					label.admin-form__row
						.admin-form__info Добавить работу
						input.admin-form__input(type="text" name="name" placeholder="Название проекта")
					label.admin-form__row
						input.admin-form__input(type="text" name="tag" placeholder="Технологии")
					.admin-form__row
						label.admin-form__file
							.admin-form__file-title Загрузить картинку
							input.admin-form__file-input(name="img" type="file")
				.admin-form__control
					input.admin-form__control-btn(value="Добавить" type="submit")
